{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Price Conversion</title>
  <link rel="stylesheet" type="text/css" href="{% static 'price_fetcher.css' %}">
</head>
<body>
  <div class="container">
    <h1>Price Fetcher</h1>
    <button id="fetchPriceButton">Fetch</button>
    <div id="resultContainer">
      <h3>Price of 1 BTC:</h3>
      <input type="text" id="btcPrice" readonly>
      <h3>Price of 1 Troy Ounce of Gold:</h3>
      <input type="text" id="goldPrice" readonly>
    </div>
    <h1>Conversion</h1>
    <div id="conversionContainer">
      <input type="text" id="convertFromValue" placeholder="Enter value">
      <select id="convertFromUnit">
        <option value="gold">oz t</option>
        <option value="btc">BTC</option>
      </select>
      <span>&#8644;</span>
      <input type="text" id="convertToValue" readonly>
      <select id="convertToUnit">
        <option value="gold">oz t</option>
        <option value="btc">BTC</option>
      </select>
    </div>
  </div>

  <script src="{% static 'price_fetcher.js' %}"></script>
</body>
</html>